* {
	touch-action: none;
}

body {
	font-family: Helvetica, sans-serif;
	color: #000000;
	margin: 1em;
	padding: 0;
	height: 100%;


 background: url("../greenHill.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
background-color: #cccccc;

}

body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(38, 166, 91, 0.63);
}

#gnomeInitiate {
z-index: 4;
 content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 100px;
    left: 0px;
 opacity: 0;
}


input {
	text-align: center;
	
padding: 5px;
background-color: black;
border-style: none;
color: white;
}



button {
	border-style: solid;
border-color: #04AA6D;
cursor: pointer;
	background-color: black;
color: white;
	padding: 5px;
}



button#plus1,
button#minus1 {
	display: none;
}

#metronome-advanced-controls {
display: none;
}

#metronome-advanced-controls button {
	display: block;
	margin-bottom: 10px;
}
#metronome-advanced-controls div label {
	display: inline-block;
	width: 6em;
}
#metronome-advanced-controls div input {
	width: 4em;
}

.reference {
	font-size: 0.75em;
	color: #a0a0a0;
}

.reference dd:after {
	content: "";
	display: block;
}

.reference code {
	color: #000000;
	font-size: 1.25em;
}

.reference dt {
	color: #000000;
	display: inline-block;
	min-width: 3em;
}

.reference dd {
	display: inline;
}

#start-tuner,
#stop-tuner {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#show-help {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#metronome {
	border-top: 2px solid saddlebrown;
box-shadow: 5px 10px 14px 16px saddlebrown;
	background-color: black;
color: white;
	text-align: center;
	width: 100vw;
	vertical-align: middle;
	margin: auto;
	position: fixed;
	z-index: 1;
	left: 0;
	bottom: 0;
	right: 0;
	display: table;
max-height: 20vh;
}

#metronome > div {
	padding: 10px 0;
}

#tempo-helpers {
display: none;
}

#tempo-helpers button {
	font-size: 1.25em;
}

#tempo {
	font-size: 2em;
	width: 2.5em;
margin-left: 15px;

}

#time {
	width: 4em;
}

#controls button {
	font-size: 2em;
}

#visual-target {
	font-size: 3em;
	font-weight: lighter;
}

.downbeat #visual-target,
.strong #visual-target {
	font-weight: bolder;
}

@media(max-width: 768px) {
	#metronome {
		border-width: 0px;
	}
	#options {
		display: none;
	}
	#metronome-advanced-controls {
		display: none;
	}
}

.rotatedRight {
transition: 0.2s;
transform-origin: bottom;
-webkit-transform-origin: bottom;
-moz-transform-origin: bottom;
-ms-transform-origin: bottom;
  transform: rotate(20deg); /* Equal to rotateZ(45deg) */

-webkit-transform: rotate(20deg); /* Equal to rotateZ(45deg) */
-moz-transform: rotate(20deg); /* Equal to rotateZ(45deg) */
-ms-transform: rotate(20deg); /* Equal to rotateZ(45deg) */


  

}

.rotatedLeft {


 transform: rotate(-20deg); /* Equal to rotateZ(45deg) */
transition: 0.2s;
-webkit-transform: rotate(-20deg); /* Equal to rotateZ(45deg) */
-moz-transform: rotate(-20deg); /* Equal to rotateZ(45deg) */
-ms-transform: rotate(-20deg); /* Equal to rotateZ(45deg) */

transform-origin: bottom;
-webkit-transform-origin: bottom;
-moz-transform-origin: bottom;
-ms-transform-origin: bottom;

  
}

.startingGnome {
transform: scale(1.2); rotate(-20deg); /* Equal to rotateZ(45deg) */
transition: 0.2s;
-webkit-transform: scale(1.2); rotate(-20deg); /* Equal to rotateZ(45deg) */
-moz-transform: rotate(-20deg); /* Equal to rotateZ(45deg) */
-ms-transform: rotate(-20deg); /* Equal to rotateZ(45deg) */

transform-origin: bottom;
-webkit-transform-origin: bottom;
-moz-transform-origin: bottom;
-ms-transform-origin: bottom;



}

#start-tuner {
display: none;
}

#visual-target {
display: none;
}



.slidecontainer {
display: inline-block;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}